<article class="col-md-4 col-sd-3 post">
    <header>
        <h2><%= post.title %></h2>
        <time><%= post.date %></time>
    </header>
    <p><%= post.excerpt %></p>
    <p><a href="/blog/<%= post.slug %>" class="btn btn-primary">Read More</a></p>
</article>